.App {
    text-align: center;
  }
  
  .App-logo {
    height: 30px;
  }
  
  .logo{
    float: left;
    margin-right: 100px;
    margin-top: 30px;
    height: 90px;
    width: 115px;
    
   
  }
  
  .App-header {
    background-color:white;
    height: 100px;
    padding: 1em;
    color: #FD554D;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .App-title {
    font-size: 20px;
    margin-top: 30px;

  }
  
  .App-intro {
    font-size: large;
  }