.logo{
  margin-left: 25px;
  margin-right: 0px;
  margin-top: 10px;
  height: 100px;
  width: 125px;
}

.App-header {
  background-color:white;
  height: 100px;
  padding: 10px;
  margin: 10px;
  color: #FD554D;
  align-items: center;
}

.App-title {
  font-size: 30px;
  margin-top: 50px;
  float: right;
}

.App-intro {
  font-size: large;
}