/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.professional-name {
  margin: 23px;
  font-size: 30px;
  color: #f9544c;
  font-weight: bold;
}

.select {
  width: 150px;
  border-radius: 3px;
  border: none;
}

.logo{
  float: right;
  margin-right: 1090px;
  margin-top: -80px;
  height: 100px;
  width: 125px;
}

.App-header {
  background-color:white;
  height: 100px;
  padding: 10px;
  margin: 10px;
  color: #FD554D;
  align-items: center;
}

.App-title {
  font-size: 30px;
  margin-top: 50px;
  float: right;
}

.App-intro {
  font-size: large;
}
