@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.professional-name {
  margin: 23px;
  font-size: 30px;
  color: #f9544c;
  font-weight: bold;
}

.select {
  width: 150px;
  border-radius: 3px;
  border: none;
}
